<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PicBro.Shell.Windows.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <PicBro.Shell.Windows.Properties.Settings>
      <setting name="LastImportedDirectoryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExportedDirectoryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Accent" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Supportedfiletypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.jpg</string>
            <string>.png</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IsTagSearchEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDescriptionSearchEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFavoritesOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPreserveOrderOnExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastExportedCollectionName" serializeAs="String">
        <value />
      </setting>
      <setting name="DBFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DBFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageTileSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortBy" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="MinimumSliderValue" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MaximumSliderValue" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="SliderIncrement" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="IsLoadingForFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTagsOnLeft" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainBackground" serializeAs="String">
        <value>#FFE0E0E0</value>
      </setting>
      <setting name="FooterBackground" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="MenuBackground" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="BackgroundTextColor" serializeAs="String">
        <value>LightGray</value>
      </setting>
    </PicBro.Shell.Windows.Properties.Settings>
  </userSettings>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Windows.Interactivity"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0"
                         newVersion="4.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>